.shop_section {
  padding: 65px;
  margin-top: 50px;
}

.shop_section h3 {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}

.shop_section p {
  text-align: center;
}

.shop__product-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px 0;
}
