.header-section {
  padding: 20px 65px;
  background-color: var(--light-orange);
  margin-bottom: 150px;
}

header {
  display: flex;
  flex-direction: column;
}

header .menu-list-icon{
  display: none;
}

header.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.8);
  z-index: 20;
  padding: 5px 20px;
  box-shadow: 0 1px 10px var(--shadow);
  animation: header-drop 0.5s ease;
  border-bottom: 1px solid lightgray;
  backdrop-filter: blur(9px);
}

@keyframes header-drop {
  0%{
    transform: translateY(-200px);
  }
  100%{
    transform: translateY(0px);
  }
}

.header__logo-name {
  font-weight: 600;
  font-family: var(--title-font);
  font-size: 1.5rem;
  position: relative;
  z-index: 5;
}

.header__logo-name::after {
  content: "";
  display: block;
  height: 3px;
  width: 80%;
  background-color: var(--orange);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header-float {
  display: none;
}

.header__menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__menu-list li {
  margin: 0 25px;
  color: var(--gray);
}

.header__menu-list li a {
  position: relative;
  white-space: nowrap;
}

.header__menu-list li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 80%;
  background-color: var(--orange);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.header__menu-list li a:hover,
.header__menu-list li.active-link a {
  color: var(--black);
}

.header__menu-list li a:hover::after,
.header__menu-list li.active-link a::after {
  transform: scaleX(1);
}

.header__menu-list li.list-button {
  background-color: var(--green);
  padding: 9px 25px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--shadow);
  cursor: pointer;
}

.header__menu-list li.list-button a:hover {
  color: white;
}

.header__menu-list li.list-button a:hover::after {
  transform: scaleX(0);
}

.header__intro-div {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.header__intro-text {
  width: 44%;
}

.header__intro-text h1 {
  max-width: 15ch;
}

.header__intro-text p {
  margin-top: 25px;
}

.header__explore-button {
  padding: 12px 33px;
  border-radius: 25px;
  border: none;
  background-color: var(--green);
  color: white;
  font-size: 1.05rem;
  font-weight: bold;
  margin-top: 45px;
  box-shadow: 0 10px 15px var(--shadow);
  cursor: pointer;
}

.header__image-box {
  width: 54%;
  position: relative;
}

.header__image-box img {
  object-fit: cover;
  width: 120%;
}

.header__msg-box-left {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 180px;
  background-color: white;
  font-size: 0.79rem;
  box-shadow: 0 5px 15px var(--shadow);
  border-radius: 10px;
  padding: 5px;
}

.header__card-holder {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -150px;
  margin-top: 30px;
}

.header__card-holder div {
  border-radius: 10px;
  width: 28%;
  padding: 15px 15px;
  box-shadow: 0 5px 10px var(--shadow);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header__card-holder i {
  align-self: center;
  font-size: 3rem;
  color: var(--orange);
  margin-top: 20px;
}

.header__card-holder h2 {
  margin: 15px 0;
  font-size: 2vw;
  text-align: center;
}

.header__card-holder p {
  text-align: center;
  font-size: 1.3vw;
}

@media screen and (max-width: 950px){
  .header-section {
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  .header-main {
    justify-content: center;
  }
  .header__menu-list {
    display: none;
  }

  header{
    padding: 1px 10px;
  }
  header .menu-list-icon{
    display: block;
    position: absolute;
    right: 20px;
    top: 23px;
    font-size: 2rem;
    z-index: 35;
  }
  .header-float{
    display: block;
    position: fixed;
    border-bottom: 1px solid lightgray;
    left: 0;
    top: 0;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease;
    overflow-y: hidden;
    visibility: hidden;
    transform: translateY(-30px);
    opacity: 0;
    box-shadow: 0 2px 10px rgba(211, 211, 211, 0.5);
  }
  .header-float.expand{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
  }
  .header-float ul{
    display: flex;
    flex-direction: column;
  }
  .header-float ul li{
    padding: 20px 0;
    text-align: left;
    width: 100%;
    border-bottom: 0.5px solid var(--gray);
    
  }
  .header-float ul li:last-child{
    border-bottom: none;
  }
  .header__card-holder p{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 750px){
  .header__intro-div{
    flex-direction: column;
    align-items: center;
  }
  .header__intro-text{
    width: 100%;

  }
  .header__image-box{
    width: 80%;
  }
  .header__intro-text p{
    max-width: 50ch;
  }
}

@media screen and (max-width: 650px){

  .header__msg-box-left{
    display: none;
  }
  .header__image-box{
    width: 95%;
  }
  .header__image-box img{
    position: relative;
    left: -60px;
  }
  .header__card-holder{
    bottom: -100px;
  }
  .header__card-holder div{
    width: 32%;
  }
}

@media screen and (max-width: 450px) {
  
  .header-section {
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  .header__intro-div {
    flex-direction: column;
    margin-top: 20px;
  }
  .header__msg-box-left {
    display: none;
  }
  .header__intro-text h1 {
    font-size: 2.4rem;
  }
  .header__intro-text {
    width: 100%;
    margin-bottom: 30px;
  }
  .header__image-box {
    width: 100%;
  }
  .header__image-box img {
    transform: scale(1.15) translateX(15px);
    transform-origin: center center;
  }
  .header__card-holder {
    top: 0;
    flex-direction: column;
    align-items: center;
  }

  .header__card-holder > div {
    width: 80%;
    margin: 20px 0;
  }

  .header__card-holder > div > i {
    font-size: 2rem;
  }

  .header__card-holder > div > h2 {
    font-size: 1rem;
    margin: 9px;
  }

  .header__card-holder > div > p {
    font-size: 0.75rem;
    text-align: center;
  }
  .header__explore-button {
    cursor: unset;
  }
}


