h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  font-weight: 600;
}

h1 {
  font-size: 2.9rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

p {
  color: var(--gray);
}

a {
  color: unset;
  text-decoration: unset;
}

.cir {
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background: rgba(144, 145, 144, 0.5);
  transform-origin: center center;
  opacity: 0;
}

.fill {
  animation: fill-animation 0.9s ease;
}
@keyframes fill-animation {
  0% {
    transform: scale(5);
    opacity: 0.8;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}
